<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">SR #</th>

            <th scope="col">PLATFORMS/BUILDS</th>
            <th scope="col">JIRA/CUSTOMER</th>
            <th scope="col">PACKAGES</th>
            <th scope="col">MODIFIED</th>
        </tr>
    </thead>
    <tbody>
        {{#each srlist}}
        <tr>
            <th scope="row">{{{this.sr}}}</th>
            <td>{{{this.bp}}}</td>
            <td><b>{{{this.jid}}}</b><br><i>{{{this.cn}}}</i> </td>
            <td>{{{this.pkg}}}</td>
            <td>{{{this.lmt}}}</td>

        </tr>
        {{/each}}
    </tbody>
</table>
<i class="d-inline"> (last indexed: {{ lut }}) </i>
</div>
