<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr class="d-flex col-sm-12" style="padding: 0px;">
            <th scope="col" class="col-sm-1">SR #</th>
            <th scope="col" class="col-sm-5">PLATFORMS/BUILDS</th>
            <th scope="col" class="col-sm-2">JIRA/CUSTOMER</th>
            <th scope="col" class="col-sm-2">MODIFIED</th>
            <th scope="col" class="col-sm-2">PACKAGES</th>

        </tr>
    </thead>
    <tbody id="srlist">
        {{#each srlist}}
        <tr class="d-flex col-sm-12" style="padding: 0px;">
            <th scope="row" class="col-sm-1">{{{this.sr}}}</th>
            <td class="col-sm-5">{{{this.bp}}}</td>
            <td class="col-sm-2"><b><a href="https://issues.citrite.net/browse/{{this.jid}}">{{{this.jid}}}</a></b>
                <br><i>{{{this.cn}}}</i> </td>
            <td class="col-sm-2">{{{this.lmt}}}</td>
            <td class="col-sm-2">{{{this.pkg}}}</td>

        </tr>
        {{/each}}
    </tbody>
</table>
<i class="d-inline"> (last indexed: {{ lut }}) </i>
<div class="float-right">
    <a href="/list?id={{ps}}-{{pe}}">
        < </a>
            {{s}} .. {{e}}
            <a href="/list?id={{ns}}-{{ne}}">
                > </a>
</div>
<br>
<br>
<br>
